.col{
    padding: 5px;
}

.col-md-9{
    padding: 5px;
}

.btn{
    margin: 7px;
}

.btn-secondary {
    color: black;
}

.day{    
    color: white;
    background-color: rgb(108, 108, 112);    
}

